@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./base/colors";
@import "./normalize";
@import "./intro";
@import "./client";
@import "./latestWorks";
@import "./swiper";
@import "./blog";
@import "./footer";
@import "./blurb";
@import "./form";
@import "./header";
@import "./loader";

.design-effect {
  background-color: white;
  color: black;
  padding: 0.5rem 0.625rem;
  transition: all 0.3s ease-in-out;
}

.design-effect:hover {
  background-color: $orange;
  color: white;
  transition: all 0.3s ease-in-out;
}

.fade {
  transition: opacity 0.15s linear;
}

@media (prefers-reduced-motion: reduce) {
  .fade {
    transition: none;
  }
}

.fade:not(.show) {
  opacity: 0;
}

.text-monospace {
  font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono",
    "Courier New", monospace !important;
}

.overflow-auto {
  overflow: auto !important;
}

.overflow-hidden {
  overflow: hidden !important;
}

.shadow-lg {
  box-shadow: 30px 60px 50px rgba(17, 18, 53, 0.05) !important;
}

.shadow-none {
  box-shadow: none !important;
}

@media (min-width: 1600px) {
  html {
    font-size: 16px;
  }
}

@media (min-width: 768px) {
  h1,
  .h1 {
    font-size: 2.5rem;
  }
}

@media (min-width: 992px) {
  h1,
  .h1 {
    font-size: 2.75rem;
  }
}

@media (min-width: 1200px) {
  h1,
  .h1 {
    font-size: 3.625rem;
  }
}

@media (min-width: 1600px) {
  h1,
  .h1 {
    font-size: 4.375rem;
  }
}

@media (min-width: 1920px) {
  h1,
  .h1 {
    font-size: 5rem;
  }
}

h2,
.h2 {
  font-weight: 900;
  font-size: 1.875rem;
  line-height: 1.15;
}

@media (min-width: 768px) {
  h2,
  .h2 {
    font-size: 2.125rem;
  }
}

@media (min-width: 768px) {
  h2,
  .h2 {
    font-size: 2.5rem;
  }
}

@media (min-width: 1200px) {
  h2,
  .h2 {
    font-size: 4.0625rem;
  }
}

h3,
.h3 {
  font-weight: 300;
  font-size: 1.5rem;
  line-height: 1.2;
}

@media (min-width: 768px) {
  h3,
  .h3 {
    font-size: 1.75rem;
  }
}

@media (min-width: 992px) {
  h3,
  .h3 {
    font-size: 2rem;
  }
}

@media (min-width: 1200px) {
  h3,
  .h3 {
    font-size: 2.4375rem;
  }
}

h4,
.h4 {
  font-size: 1.3125rem;
  line-height: 1.33;
}

@media (min-width: 768px) {
  h4,
  .h4 {
    font-size: 1.375rem;
  }
}

@media (min-width: 1200px) {
  h4,
  .h4 {
    font-size: 1.875rem;
  }
}

h5,
.h5 {
  font-size: 1.125rem;
  line-height: 1.9;
  color: #535372;
}

@media (min-width: 768px) {
  h5,
  .h5 {
    font-size: 1.1875rem;
    line-height: 2;
  }
}

@media (min-width: 1200px) {
  h5,
  .h5 {
    font-size: 1.25rem;
  }
}

h6,
.h6 {
  font-size: 1rem;
  line-height: 1.75;
}

.big {
  font-size: 1.1875rem;
  line-height: 1.55;
}

@media (min-width: 992px) {
  .big {
    font-size: 1.25rem;
  }
}

.text-decoration {
  @apply relative mobile:pl-[1.1em];
  &::before {
    @apply absolute mobile:content-[""] left-0 w-[.85em] border-b border-orange top-[.55em];
  }
}

a {
  transition: color 0.2s;
}

mark,
.mark {
  color: #0d0e2e;
}

u {
  text-decoration: none;
  border-bottom: 2px solid rgba(185, 225, 215, 0.4);
}

strong {
  font-weight: 700;
}

figure {
  font-size: 0.875rem;
  line-height: 1.214;
}

.context-dark,
.context-dark h1,
.context-dark h2,
.context-dark h3,
.context-dark h4,
.context-dark h5,
.context-dark h6,
.context-dark .h1,
.context-dark .h2,
.context-dark .h3,
.context-dark .h4,
.context-dark .h5,
.context-dark .h6 {
  color: #fff;
}

* + p {
  margin-top: 0.9375rem;
}

* + h1,
* + h2,
* + h3,
* + h4,
* + h5,
* + h6 {
  margin-top: 1.25rem;
}

h1 + h3 {
  margin-top: 1.28125rem;
}

h1 + h4 {
  margin-top: 0.25rem;
}

h1 + h5 {
  margin-top: 0.78125rem;
}

h2 + h5 {
  margin-top: 1.40625rem;
}

h5 + h5 {
  margin-top: 0.8125rem;
}

.quote-simple + h5 {
  margin-top: 1.3125rem;
}

* + figure {
  margin-top: 1.875rem;
}

* + figcaption {
  margin-top: 0.5625rem;
}

* + form {
  margin-top: 1.875rem;
}

h1 + p {
  margin-top: 0.84375rem;
}

h2 + p {
  margin-top: 0.75rem;
}

h3 + p {
  margin-top: 1rem;
}

h4 + p {
  margin-top: 0.65625rem;
}

h5 + p {
  margin-top: 0;
}

h6 + p {
  margin-top: 0.375rem;
}

p + h2 {
  margin-top: 1.75rem;
}

p + h3 {
  margin-top: 1.5625rem;
}

p + h4 {
  margin-top: 1.25rem;
}

p + h5 {
  margin-top: 1.25rem;
}

p + h6 {
  margin-top: 1.125rem;
}

* + address {
  margin-top: 16px;
}

@media (min-width: 992px) {
  * + p {
    margin-top: 1.25rem;
  }

  * + h1,
  * + h2,
  * + h4,
  * + h5,
  * + h6 {
    margin-top: 1.75rem;
  }

  h1 + h3 {
    margin-top: 1.79375rem;
  }

  h1 + h4 {
    margin-top: 0.35rem;
  }

  h1 + h5 {
    margin-top: 1.09375rem;
  }

  h2 + h5 {
    margin-top: 1.96875rem;
  }

  h5 + h5 {
    margin-top: 1.1375rem;
  }

  h1 + p {
    margin-top: 1.18125rem;
  }

  h2 + p {
    margin-top: 1.05rem;
  }

  h3 + p {
    margin-top: 1.4rem;
  }

  h4 + p {
    margin-top: 0.91875rem;
  }

  h6 + p {
    margin-top: 0.625rem;
  }

  p + h2 {
    margin-top: 2rem;
  }

  p + h3 {
    margin-top: 2.1875rem;
  }

  p + h4 {
    margin-top: 1.625rem;
  }

  p + h5 {
    margin-top: 1.5rem;
  }

  h3 + h5 {
    margin-top: 1.225rem;
  }

  .quote-simple + h5 {
    margin-top: 1.8375rem;
  }

  p + h6 {
    margin-top: 1.5rem;
  }

  * + figure {
    margin-top: 2.625rem;
  }
}

@media (min-width: 1600px) {
  p + h2 {
    margin-top: 3rem;
  }

  h1 + h3 {
    margin-top: 2.5625rem;
  }

  p + h3 {
    margin-top: 3.125rem;
  }

  h1 + h4 {
    margin-top: 0.5rem;
  }

  h1 + h5 {
    margin-top: 1.5625rem;
  }

  h2 + h5 {
    margin-top: 2.8125rem;
  }

  h5 + h5 {
    margin-top: 1.625rem;
  }

  .quote-simple + h5 {
    margin-top: 2.625rem;
  }

  h1 + p {
    margin-top: 1.6875rem;
  }

  h2 + p {
    margin-top: 1.5rem;
  }

  h3 + p {
    margin-top: 2rem;
  }

  h4 + p {
    margin-top: 1.3125rem;
  }

  * + figure {
    margin-top: 3.75rem;
  }
}

html .group-1 {
  margin-top: 1.03125rem;
  margin-bottom: -0.625rem;
  margin-left: -1.5rem;
}

html .group-1:empty {
  margin-bottom: 0;
  margin-left: 0;
}

html .group-1 > * {
  margin-top: 0;
  margin-bottom: 0.625rem;
  margin-left: 1.5rem;
}

html .group-20 {
  margin-bottom: -1.25rem;
  margin-left: -1.25rem;
}

html .group-20:empty {
  margin-bottom: 0;
  margin-left: 0;
}

html .group-20 > * {
  margin-top: 0;
  margin-bottom: 1.25rem;
  margin-left: 1.25rem;
}

html .group-80x15 {
  margin-bottom: -0.9375rem;
  margin-left: -2.5rem;
}

html .group-80x15:empty {
  margin-bottom: 0;
  margin-left: 0;
}

html .group-80x15 > * {
  margin-top: 0;
  margin-bottom: 0.9375rem;
  margin-left: 2.5rem;
}

@media (min-width: 576px) {
  html .group-1 {
    padding-left: 2.3125rem;
  }
}

@media (min-width: 992px) {
  html .group-1 {
    margin-top: 1.44375rem;
    padding-left: 3.2375rem;
  }
}

@media (min-width: 1200px) {
  html .group-1 {
    padding-left: 4.625rem;
  }
}

@media (min-width: 1600px) {
  html .group-1 {
    margin-top: 2.0625rem;
  }

  html .group-80x15 {
    margin-left: -5rem;
  }

  html .group-80x15 > * {
    margin-left: 5rem;
  }
}

body {
  overflow-x: hidden;
}

.page {
  position: relative;
  min-height: 100vh;
  overflow: hidden;
}

.page-loaded .page {
  opacity: 1;
}

html .page {
  transition: opacity 0.25s;
}

html.components-ready .page {
  transition:
    opacity 0.25s,
    padding 0.2s ease-in-out;
}

.page-loader {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 17;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  opacity: 1;
  visibility: visible;
  transition: 0.3s;
  background: #fff;
}

.page-loader-logo {
  display: block;
  margin-top: -10px;
}

.page-loader-container {
  position: relative;
}

.page-loader-progress {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 130%;
  height: auto;
}

.page-loader-circle {
  fill: transparent;
  stroke: $orange;
  stroke-width: 2px;
}

.page-loaded .page-loader {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.bg-secondary {
  background-color: $nebula;
}

a.bg-secondary:hover,
a.bg-secondary:focus,
button.bg-secondary:hover,
button.bg-secondary:focus {
  background-color: #95d2c3;
}
.bg-white {
  background-color: #fff;
}

.bg-transparent {
  background-color: transparent;
}

.bg-100 {
  background-color: #fdf7f1;
}

a.bg-100:hover,
a.bg-100:focus,
button.bg-100:hover,
button.bg-100:focus {
  background-color: #f7dec4;
}

.bg-800 {
  background-color: #111235;
}

a.bg-800:hover,
a.bg-800:focus,
button.bg-800:hover,
button.bg-800:focus {
  background-color: #05050e;
}

.bg-overlay {
  position: relative;
  z-index: 0;
}

.bg-overlay .bg-overlay-item {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 50%;
  z-index: -1;
  border-bottom: 4px solid $orange;
}

@media (min-width: 768px) {
  .bg-left {
    position: relative;
  }

  .bg-left .bg-item {
    position: absolute;
    top: 0;
    bottom: -1px;
    right: calc(50% + 190px);
    width: calc(50% - 180px);
    content: "";
  }

  .bg-left-1 {
    position: relative;
  }

  .bg-left-1 .bg-item {
    position: absolute;
    bottom: -1px;
    right: calc(50% + 190px);
    width: calc(50% - 180px);
    height: 36%;
    content: "";
  }

  .bg-right {
    position: relative;
    z-index: 0;
  }

  .bg-right .bg-item-1,
  .bg-right .bg-item-2 {
    position: absolute;
    top: 0;
    z-index: -1;
    left: calc(50% + 190px);
    width: calc(50% - 180px);
    content: "";
  }

  .bg-right .bg-item-1 {
    bottom: 0;
  }

  .bg-right .bg-item-2 {
    height: 28%;
  }
}

@media (min-width: 1600px) {
  .bg-left .bg-item,
  .bg-left-1 .bg-item {
    right: calc(50% + 390px);
    width: calc(50% - 380px);
  }

  .bg-right {
    position: relative;
  }

  .bg-right .bg-item-1,
  .bg-right .bg-item-2 {
    left: calc(50% + 390px);
    width: calc(50% - 380px);
  }
}

* + .rd-form {
  margin-top: 1.25rem;
}

.rd-navbar-fullwidth-linked .rd-navbar-wrap-absolute {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
}

.thumbnail-img {
  width: 100%;
}

.thumbnail-link {
  display: inline-block;
  color: $orange;
  transition: all 0.2s ease-in-out;
}

.thumbnail-link:hover {
  color: rgba(238, 100, 81, 0.6);
}

.thumbnail-media {
  position: relative;
}

.thumbnail-tags {
  position: absolute;
  left: 0;
  right: 0;
  padding: 1rem 0.875rem;
  margin-bottom: -0.25rem;
  margin-left: -0.25rem;
  @apply top-0 mobile:top-2 md-custom:top-0;
}

.thumbnail-tags:empty {
  margin-bottom: 0;
  margin-left: 0;
}

.thumbnail-tags > * {
  margin-top: 0;
  margin-bottom: 0.25rem;
  margin-left: 0.25rem;
}

.tag {
  display: inline-block;
  padding: 0.375rem 0.625rem;
  font-size: 1rem;
  line-height: 1.2;
  text-align: center;
  color: #111235;
  background-color: #fff;
  border: 1px solid #fff;
}

@media (min-width: 1600px) {
  * + .thumbnail-link {
    margin-top: 0.3125rem;
  }
}

.thumbnail-boxed .thumbnail-body:hover::before {
  transform: translateY(-95%);
}

.thumbnail-boxed .thumbnail-title {
  color: #fff;
}

.thumbnail-boxed .thumbnail-title a:hover {
  color: $nebula;
}

@media (min-width: 992px) {
  .thumbnail-boxed .thumbnail-body {
    padding: 1.3125rem 0.83125rem;
  }
}

@media (min-width: 1600px) {
  .thumbnail-boxed .thumbnail-body {
    padding: 1.875rem 1.1875rem 2.6875rem;
  }
}

.btn {
  position: relative;
  z-index: 0;
  display: inline-block;
  text-align: center;
  font-weight: 500;
  letter-spacing: normal;
  text-transform: uppercase;
  color: #fff;
  background: #111235;
  transition: all 0.2s ease-in-out;
  padding: 1.3125rem 1.9375rem;
  font-size: 1.125rem;
  line-height: 1.2;
  border-radius: 0;
  overflow: hidden;
}

.btn::before {
  position: absolute;
  z-index: -1;
  top: -100%;
  left: 0;
  width: 100%;
  height: 100%;
  content: "";
  opacity: 0;
  background: $orange;
  transition:
    top 0.2s ease-in-out,
    opacity 0.25s ease-in-out;
}

.btn:hover::before {
  opacity: 1;
  top: 0;
}

.btn:hover,
.btn.hover,
.btn:active,
.btn.active {
  text-decoration: none;
  color: #fff;
  background: #111235;
  border-color: #111235;
}

.btn:focus,
.btn.focus {
  outline: 0;
}

.btn.disabled,
.btn:disabled {
  opacity: 0.65;
  pointer-events: none;
}

* + .btn {
  margin-top: 1.375rem;
}

.btn-lg,
.btn-group-lg > .btn {
  padding: 0.75rem 1.40625rem;
  font-size: 1.125rem;
  line-height: 1.2;
  border-radius: 0;
}

.btn-sm,
.btn-group-sm > .btn {
  padding: 1.0625rem 1.375rem;
  font-size: 1rem;
  line-height: 1.2;
  border-radius: 0;
}

.btn-block {
  display: flex;
  justify-content: center;
  width: 100%;
}

.btn-group-1 {
  margin-bottom: -0.9375rem;
  margin-left: -1.875rem;
}

.btn-group-1:empty {
  margin-bottom: 0;
  margin-left: 0;
}

.btn-group-1 > * {
  margin-top: 0;
  margin-bottom: 0.9375rem;
  margin-left: 1.875rem;
}

* + .btn-group-1 {
  margin-top: 1.875rem;
}

h3 + .btn {
  margin-top: 2.28125rem;
}

@media (min-width: 576px) {
  .btn-group-1 {
    padding-left: 2.3125rem;
  }
}

@media (min-width: 992px) {
  .btn-group-1 {
    padding-left: 3.2375rem;
  }

  * + .btn-group-1 {
    margin-top: 2.625rem;
  }

  h3 + .btn {
    margin-top: 3.19375rem;
  }
}

@media (min-width: 1600px) {
  .btn-group-1 {
    padding-left: 4.625rem;
  }

  * + .btn-group-1 {
    margin-top: 3.75rem;
  }

  h3 + .btn {
    margin-top: 4.5625rem;
  }
}

.container {
  width: 100%;
  padding-right: 0.9375rem;
  padding-left: 0.9375rem;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 330px) {
  .container {
    max-width: 100%;
  }
}

@media (min-width: 400px) {
  .container {
    max-width: 100%;
  }
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

@media (min-width: 1600px) {
  .container {
    max-width: 1300px;
  }
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -0.9375rem;
  margin-left: -0.9375rem;
}

.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12,
.col,
.col-auto,
.col-xs-1,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9,
.col-xs-10,
.col-xs-11,
.col-xs-12,
.col-xs,
.col-xs-auto,
.col-sm-1,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm,
.col-sm-auto,
.col-md-1,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md,
.col-md-auto,
.col-lg-1,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg,
.col-lg-auto,
.col-xl-1,
.col-xl-2,
.col-xl-3,
.col-xl-4,
.col-xl-5,
.col-xl-6,
.col-xl-7,
.col-xl-8,
.col-xl-9,
.col-xl-10,
.col-xl-11,
.col-xl-12,
.col-xl,
.col-xl-auto,
.col-xxl-1,
.col-xxl-2,
.col-xxl-3,
.col-xxl-4,
.col-xxl-5,
.col-xxl-6,
.col-xxl-7,
.col-xxl-8,
.col-xxl-9,
.col-xxl-10,
.col-xxl-11,
.col-xxl-12,
.col-xxl,
.col-xxl-auto {
  position: relative;
  width: 100%;
  padding-right: 0.9375rem;
  padding-left: 0.9375rem;
}

.col {
  flex-basis: 0;
  flex-grow: 1;
  max-width: 100%;
}

.col-auto {
  flex: 0 0 auto;
  width: auto;
  max-width: 100%;
}

.col-1 {
  flex: 0 0 8.33333%;
  max-width: 8.33333%;
}

.col-2 {
  flex: 0 0 16.66667%;
  max-width: 16.66667%;
}

.col-3 {
  flex: 0 0 25%;
  max-width: 25%;
}

.col-4 {
  flex: 0 0 33.33333%;
  max-width: 33.33333%;
}

.col-5 {
  flex: 0 0 41.66667%;
  max-width: 41.66667%;
}

.col-6 {
  flex: 0 0 50%;
  max-width: 50%;
}

.col-7 {
  flex: 0 0 58.33333%;
  max-width: 58.33333%;
}

.col-8 {
  flex: 0 0 66.66667%;
  max-width: 66.66667%;
}

.col-9 {
  flex: 0 0 75%;
  max-width: 75%;
}

.col-10 {
  flex: 0 0 83.33333%;
  max-width: 83.33333%;
}

.col-11 {
  flex: 0 0 91.66667%;
  max-width: 91.66667%;
}

.col-12 {
  flex: 0 0 100%;
  max-width: 100%;
}

.offset-1 {
  margin-left: 8.33333%;
}

.offset-2 {
  margin-left: 16.66667%;
}

.offset-3 {
  margin-left: 25%;
}

.offset-4 {
  margin-left: 33.33333%;
}

.offset-5 {
  margin-left: 41.66667%;
}

.offset-6 {
  margin-left: 50%;
}

.offset-7 {
  margin-left: 58.33333%;
}

.offset-8 {
  margin-left: 66.66667%;
}

.offset-9 {
  margin-left: 75%;
}

.offset-10 {
  margin-left: 83.33333%;
}

.offset-11 {
  margin-left: 91.66667%;
}

@media (min-width: 480px) {
  .col-xs {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
  }

  .col-xs-auto {
    flex: 0 0 auto;
    width: auto;
    max-width: 100%;
  }

  .col-xs-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
  }

  .col-xs-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }

  .col-xs-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }

  .col-xs-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }

  .col-xs-5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
  }

  .col-xs-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .col-xs-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
  }

  .col-xs-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }

  .col-xs-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }

  .col-xs-10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
  }

  .col-xs-11 {
    flex: 0 0 91.66667%;
    max-width: 91.66667%;
  }

  .col-xs-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .order-xs-first {
    order: -1;
  }

  .order-xs-last {
    order: 13;
  }

  .order-xs-0 {
    order: 0;
  }

  .order-xs-1 {
    order: 1;
  }

  .order-xs-2 {
    order: 2;
  }

  .order-xs-3 {
    order: 3;
  }

  .order-xs-4 {
    order: 4;
  }

  .order-xs-5 {
    order: 5;
  }

  .order-xs-6 {
    order: 6;
  }

  .order-xs-7 {
    order: 7;
  }

  .order-xs-8 {
    order: 8;
  }

  .order-xs-9 {
    order: 9;
  }

  .order-xs-10 {
    order: 10;
  }

  .order-xs-11 {
    order: 11;
  }

  .order-xs-12 {
    order: 12;
  }

  .offset-xs-0 {
    margin-left: 0;
  }

  .offset-xs-1 {
    margin-left: 8.33333%;
  }

  .offset-xs-2 {
    margin-left: 16.66667%;
  }

  .offset-xs-3 {
    margin-left: 25%;
  }

  .offset-xs-4 {
    margin-left: 33.33333%;
  }

  .offset-xs-5 {
    margin-left: 41.66667%;
  }

  .offset-xs-6 {
    margin-left: 50%;
  }

  .offset-xs-7 {
    margin-left: 58.33333%;
  }

  .offset-xs-8 {
    margin-left: 66.66667%;
  }

  .offset-xs-9 {
    margin-left: 75%;
  }

  .offset-xs-10 {
    margin-left: 83.33333%;
  }

  .offset-xs-11 {
    margin-left: 91.66667%;
  }
}

@media (min-width: 576px) {
  .col-sm {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
  }

  .col-sm-auto {
    flex: 0 0 auto;
    width: auto;
    max-width: 100%;
  }

  .col-sm-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
  }

  .col-sm-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }

  .col-sm-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }

  .col-sm-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }

  .col-sm-5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
  }

  .col-sm-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .col-sm-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
  }

  .col-sm-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }

  .col-sm-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }

  .col-sm-10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
  }

  .col-sm-11 {
    flex: 0 0 91.66667%;
    max-width: 91.66667%;
  }

  .col-sm-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .order-sm-first {
    order: -1;
  }

  .order-sm-last {
    order: 13;
  }

  .order-sm-0 {
    order: 0;
  }

  .order-sm-1 {
    order: 1;
  }

  .order-sm-2 {
    order: 2;
  }

  .order-sm-3 {
    order: 3;
  }

  .order-sm-4 {
    order: 4;
  }

  .order-sm-5 {
    order: 5;
  }

  .order-sm-6 {
    order: 6;
  }

  .order-sm-7 {
    order: 7;
  }

  .order-sm-8 {
    order: 8;
  }

  .order-sm-9 {
    order: 9;
  }

  .order-sm-10 {
    order: 10;
  }

  .order-sm-11 {
    order: 11;
  }

  .order-sm-12 {
    order: 12;
  }

  .offset-sm-0 {
    margin-left: 0;
  }

  .offset-sm-1 {
    margin-left: 8.33333%;
  }

  .offset-sm-2 {
    margin-left: 16.66667%;
  }

  .offset-sm-3 {
    margin-left: 25%;
  }

  .offset-sm-4 {
    margin-left: 33.33333%;
  }

  .offset-sm-5 {
    margin-left: 41.66667%;
  }

  .offset-sm-6 {
    margin-left: 50%;
  }

  .offset-sm-7 {
    margin-left: 58.33333%;
  }

  .offset-sm-8 {
    margin-left: 66.66667%;
  }

  .offset-sm-9 {
    margin-left: 75%;
  }

  .offset-sm-10 {
    margin-left: 83.33333%;
  }

  .offset-sm-11 {
    margin-left: 91.66667%;
  }
}

@media (min-width: 768px) {
  .col-md {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
  }

  .col-md-auto {
    flex: 0 0 auto;
    width: auto;
    max-width: 100%;
  }

  .col-md-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
  }

  .col-md-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }

  .col-md-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }

  .col-md-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }

  .col-md-5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
  }

  .col-md-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .col-md-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
  }

  .col-md-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }

  .col-md-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }

  .col-md-10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
  }

  .col-md-11 {
    flex: 0 0 91.66667%;
    max-width: 91.66667%;
  }

  .col-md-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .order-md-first {
    order: -1;
  }

  .order-md-last {
    order: 13;
  }

  .order-md-0 {
    order: 0;
  }

  .order-md-1 {
    order: 1;
  }

  .order-md-2 {
    order: 2;
  }

  .order-md-3 {
    order: 3;
  }

  .order-md-4 {
    order: 4;
  }

  .order-md-5 {
    order: 5;
  }

  .order-md-6 {
    order: 6;
  }

  .order-md-7 {
    order: 7;
  }

  .order-md-8 {
    order: 8;
  }

  .order-md-9 {
    order: 9;
  }

  .order-md-10 {
    order: 10;
  }

  .order-md-11 {
    order: 11;
  }

  .order-md-12 {
    order: 12;
  }

  .offset-md-0 {
    margin-left: 0;
  }

  .offset-md-1 {
    margin-left: 8.33333%;
  }

  .offset-md-2 {
    margin-left: 16.66667%;
  }

  .offset-md-3 {
    margin-left: 25%;
  }

  .offset-md-4 {
    margin-left: 33.33333%;
  }

  .offset-md-5 {
    margin-left: 41.66667%;
  }

  .offset-md-6 {
    margin-left: 50%;
  }

  .offset-md-7 {
    margin-left: 58.33333%;
  }

  .offset-md-8 {
    margin-left: 66.66667%;
  }

  .offset-md-9 {
    margin-left: 75%;
  }

  .offset-md-10 {
    margin-left: 83.33333%;
  }

  .offset-md-11 {
    margin-left: 91.66667%;
  }
}

@media (min-width: 992px) {
  .col-lg {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
  }

  .col-lg-auto {
    flex: 0 0 auto;
    width: auto;
    max-width: 100%;
  }

  .col-lg-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
  }

  .col-lg-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }

  .col-lg-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }

  .col-lg-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }

  .col-lg-5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
  }

  .col-lg-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .col-lg-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
  }

  .col-lg-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }

  .col-lg-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }

  .col-lg-10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
  }

  .col-lg-11 {
    flex: 0 0 91.66667%;
    max-width: 91.66667%;
  }

  .col-lg-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .order-lg-first {
    order: -1;
  }

  .order-lg-last {
    order: 13;
  }

  .order-lg-0 {
    order: 0;
  }

  .order-lg-1 {
    order: 1;
  }

  .order-lg-2 {
    order: 2;
  }

  .order-lg-3 {
    order: 3;
  }

  .order-lg-4 {
    order: 4;
  }

  .order-lg-5 {
    order: 5;
  }

  .order-lg-6 {
    order: 6;
  }

  .order-lg-7 {
    order: 7;
  }

  .order-lg-8 {
    order: 8;
  }

  .order-lg-9 {
    order: 9;
  }

  .order-lg-10 {
    order: 10;
  }

  .order-lg-11 {
    order: 11;
  }

  .order-lg-12 {
    order: 12;
  }

  .offset-lg-0 {
    margin-left: 0;
  }

  .offset-lg-1 {
    margin-left: 8.33333%;
  }

  .offset-lg-2 {
    margin-left: 16.66667%;
  }

  .offset-lg-3 {
    margin-left: 25%;
  }

  .offset-lg-4 {
    margin-left: 33.33333%;
  }

  .offset-lg-5 {
    margin-left: 41.66667%;
  }

  .offset-lg-6 {
    margin-left: 50%;
  }

  .offset-lg-7 {
    margin-left: 58.33333%;
  }

  .offset-lg-8 {
    margin-left: 66.66667%;
  }

  .offset-lg-9 {
    margin-left: 75%;
  }

  .offset-lg-10 {
    margin-left: 83.33333%;
  }

  .offset-lg-11 {
    margin-left: 91.66667%;
  }
}

@media (min-width: 1200px) {
  .col-xl {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
  }

  .col-xl-auto {
    flex: 0 0 auto;
    width: auto;
    max-width: 100%;
  }

  .col-xl-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
  }

  .col-xl-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }

  .col-xl-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }

  .col-xl-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }

  .col-xl-5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
  }

  .col-xl-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .col-xl-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
  }

  .col-xl-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }

  .col-xl-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }

  .col-xl-10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
  }

  .col-xl-11 {
    flex: 0 0 91.66667%;
    max-width: 91.66667%;
  }

  .col-xl-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .order-xl-first {
    order: -1;
  }

  .order-xl-last {
    order: 13;
  }

  .order-xl-0 {
    order: 0;
  }

  .order-xl-1 {
    order: 1;
  }

  .order-xl-2 {
    order: 2;
  }

  .order-xl-3 {
    order: 3;
  }

  .order-xl-4 {
    order: 4;
  }

  .order-xl-5 {
    order: 5;
  }

  .order-xl-6 {
    order: 6;
  }

  .order-xl-7 {
    order: 7;
  }

  .order-xl-8 {
    order: 8;
  }

  .order-xl-9 {
    order: 9;
  }

  .order-xl-10 {
    order: 10;
  }

  .order-xl-11 {
    order: 11;
  }

  .order-xl-12 {
    order: 12;
  }

  .offset-xl-0 {
    margin-left: 0;
  }

  .offset-xl-1 {
    margin-left: 8.33333%;
  }

  .offset-xl-2 {
    margin-left: 16.66667%;
  }

  .offset-xl-3 {
    margin-left: 25%;
  }

  .offset-xl-4 {
    margin-left: 33.33333%;
  }

  .offset-xl-5 {
    margin-left: 41.66667%;
  }

  .offset-xl-6 {
    margin-left: 50%;
  }

  .offset-xl-7 {
    margin-left: 58.33333%;
  }

  .offset-xl-8 {
    margin-left: 66.66667%;
  }

  .offset-xl-9 {
    margin-left: 75%;
  }

  .offset-xl-10 {
    margin-left: 83.33333%;
  }

  .offset-xl-11 {
    margin-left: 91.66667%;
  }
}

@media (min-width: 1600px) {
  .col-xxl {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
  }

  .col-xxl-auto {
    flex: 0 0 auto;
    width: auto;
    max-width: 100%;
  }

  .col-xxl-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
  }

  .col-xxl-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }

  .col-xxl-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }

  .col-xxl-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }

  .col-xxl-5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
  }

  .col-xxl-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .col-xxl-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
  }

  .col-xxl-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }

  .col-xxl-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }

  .col-xxl-10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
  }

  .col-xxl-11 {
    flex: 0 0 91.66667%;
    max-width: 91.66667%;
  }

  .col-xxl-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .offset-xxl-0 {
    margin-left: 0;
  }

  .offset-xxl-1 {
    margin-left: 8.33333%;
  }

  .offset-xxl-2 {
    margin-left: 16.66667%;
  }
}

.row-15 {
  margin-bottom: -0.9375rem;
}

.row-15:empty {
  margin-bottom: 0;
}

.row-15 > * {
  margin-bottom: 0.9375rem;
}

.row-20 {
  margin-bottom: -1.25rem;
}

.row-20:empty {
  margin-bottom: 0;
}

.row-20 > * {
  margin-bottom: 1.25rem;
}

.row-30 {
  margin-bottom: -1.875rem;
}

.row-30:empty {
  margin-bottom: 0;
}

.row-30 > * {
  margin-bottom: 1.875rem;
}

.row-40 {
  margin-bottom: -2.5rem;
}

.row-40:empty {
  margin-bottom: 0;
}

.row-40 > * {
  margin-bottom: 2.5rem;
}

* + .row {
  margin-top: 2.5rem;
}

* + .row-content {
  margin-top: 1.75rem;
}

* + .row-content-2 {
  margin-top: 2.1875rem;
}

* + .row-content-3 {
  margin-top: 1.21875rem;
}

.row-gutters-20 {
  margin-right: -10px;
  margin-left: -10px;
}

.row-gutters-20 > [class*="col-"] {
  padding-right: 10px;
  padding-left: 10px;
}

.context-dark .row-bordered .row > [class*="col-"] {
  border-left-color: rgba(185, 225, 215, 0.2);
  border-bottom-color: rgba(185, 225, 215, 0.2);
}

@media (min-width: 992px) {
  .row-lg-50 {
    margin-bottom: -3.125rem;
  }

  .row-lg-50:empty {
    margin-bottom: 0;
  }

  .row-lg-50 > * {
    margin-bottom: 3.125rem;
  }

  * + .row-content {
    margin-top: 2.45rem;
  }

  * + .row-content-2 {
    margin-top: 3.0625rem;
  }

  * + .row-content-3 {
    margin-top: 1.70625rem;
  }
}

@media (min-width: 1600px) {
  .row-xxl-40 {
    margin-bottom: -2.5rem;
  }

  .row-xxl-40:empty {
    margin-bottom: 0;
  }

  .row-xxl-40 > * {
    margin-bottom: 2.5rem;
  }

  .row-xxl-50 {
    margin-bottom: -3.125rem;
  }

  .row-xxl-50:empty {
    margin-bottom: 0;
  }

  .row-xxl-50 > * {
    margin-bottom: 3.125rem;
  }

  * + .row-content {
    margin-top: 3.5rem;
  }

  * + .row-content-2 {
    margin-top: 4.375rem;
  }

  * + .row-content-3 {
    margin-top: 2.4375rem;
  }
}

.section-md {
  padding: 50px 0;
}

@media (min-width: 992px) {
  .section-md {
    padding: 105px 0;
  }
}

@media (min-width: 1600px) {
  .section-md {
    padding: 150px 0;
  }
}

.rd-form-boxed {
  padding: 1.46875rem 1.21875rem 2.375rem;
  background-color: #fff;
  box-shadow: 30px 60px 50px rgba(17, 18, 53, 0.08);
}

.rd-form-inline {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: -0.9375rem;
}

.rd-form-inline > * {
  margin-bottom: 0.9375rem;
}

.rd-form-inline .form-group {
  flex-grow: 1;
}

.rd-form-inline .btn {
  flex-shrink: 0;
  margin-top: 0;
  padding-top: 10px;
  padding-bottom: 10px;
}

.rd-form-inline-2 {
  margin-bottom: -0.9375rem;
  margin-left: 1.875rem;
}

.rd-form-inline-2:empty {
  margin-bottom: 0;
  margin-left: 0;
}

.rd-form-inline-2 > * {
  margin-top: 0;
  margin-bottom: 0.9375rem;
  margin-left: -1.875rem;
}

.rd-form-inline-2 .form-validation {
  right: auto;
  left: 1.125rem;
}

.rd-form-inline-2 .form-control {
  padding-right: 2.8125rem;
}

.rd-form-solid {
  position: relative;
}

.rd-form-solid .form-validation {
  right: auto;
  left: 1.125rem;
}

.rd-form-solid .rd-form-solid-btn {
  position: absolute;
  top: 50%;
  right: 0;
  margin: 0;
  padding-top: 0.3125rem;
  padding-bottom: 0.3125rem;
  transform: translateY(-50%);
  transition: all 0.2s ease-in-out;
  pointer-events: auto;
}

.rd-form-solid .rd-form-solid-btn:hover {
  color: $orange;
}

.rd-form-solid-1 .form-control {
  padding-right: 2.1875rem;
}

.rd-form-solid-1 .rd-form-solid-btn {
  right: 0.5rem;
  font-size: 1.5rem;
  transition: all 0.2s ease-in-out;
  pointer-events: auto;
}

.rd-form-solid-1 .rd-form-solid-btn:hover {
  color: $orange;
}

.rd-form-solid-2 .form-control {
  padding-right: 3.75rem;
}

.rd-form-solid-2 .rd-form-solid-btn {
  right: 0.375rem;
  width: calc(3.1rem - 0.75rem);
  height: calc(3.1rem - 0.75rem);
  padding: 0;
  font-size: 1.5rem;
}

* + .rd-form {
  margin-top: 1.46875rem;
}

* + .rd-form-btn {
  margin-top: 1.4375rem;
}

* + .rd-form-boxed {
  margin-top: 3.03125rem;
}

@media (min-width: 992px) {
  .rd-form-boxed {
    padding: 2.05625rem 1.70625rem 3.325rem;
  }

  * + .rd-form {
    margin-top: 2.05625rem;
  }

  * + .rd-form-btn {
    margin-top: 2.0125rem;
  }

  * + .rd-form-boxed {
    margin-top: 4.24375rem;
  }
}

@media (min-width: 1600px) {
  .rd-form-boxed {
    padding: 2.9375rem 2.4375rem 4.75rem;
  }

  * + .rd-form {
    margin-top: 2.9375rem;
  }

  * + .rd-form-btn {
    margin-top: 2.875rem;
  }

  * + .rd-form-boxed {
    margin-top: 6.0625rem;
  }
}

.custom-control {
  position: relative;
  display: block;
  min-height: 1.75rem;
  padding-left: 2.1875rem;
}

.custom-control-inline {
  display: inline-flex;
  margin-right: 1rem;
}

.custom-control-input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.custom-control-input:checked ~ .custom-control-label::before {
  color: $orange;
  border-color: $border;
  background-color: #fff;
}

.custom-control-input:focus ~ .custom-control-label::before {
  box-shadow: none;
}

.custom-control-input:focus:not(:checked) ~ .custom-control-label::before {
  border-color: $border;
}

.custom-control-input:not(:disabled):active ~ .custom-control-label::before {
  color: #fff;
  background-color: rgba(255, 255, 255, 0.35);
  border-color: $border;
}

.custom-control-input:disabled ~ .custom-control-label {
  color: #ced4da;
}

.custom-control-input:disabled ~ .custom-control-label::before {
  background-color: rgba(253, 247, 241, 0.8);
}

.custom-control-label {
  position: relative;
  margin-bottom: 0;
  vertical-align: top;
}

.custom-control-label::before {
  position: absolute;
  top: 0.0625rem;
  left: -2.1875rem;
  display: block;
  width: 1.625rem;
  height: 1.625rem;
  pointer-events: none;
  content: "";
  background-color: #fdf7f1;
  border: $border solid 1px;
}

.custom-control-label::after {
  position: absolute;
  top: 0.0625rem;
  left: -2.1875rem;
  display: block;
  width: 1.625rem;
  height: 1.625rem;
  content: "";
  background: no-repeat 50% / 50% 50%;
}

.custom-checkbox .custom-control-label::before {
  border-radius: 6px;
}

.custom-checkbox .custom-control-input:checked ~ .custom-control-label::after {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 11 8'%3e%3cpath fill='transparent' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' stroke='%23ee6451' d='M10 1L4 7L1 4'/%3e%3c/svg%3e");
}

.custom-checkbox
  .custom-control-input:indeterminate
  ~ .custom-control-label::before {
  border-color: $orange;
  background-color: $orange;
}

.custom-checkbox
  .custom-control-input:indeterminate
  ~ .custom-control-label::after {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 4'%3e%3cpath stroke='%23fff' d='M0 2h4'/%3e%3c/svg%3e");
}

.custom-checkbox
  .custom-control-input:disabled:checked
  ~ .custom-control-label::before {
  background-color: rgba(255, 255, 255, 0.5);
}

.custom-checkbox
  .custom-control-input:disabled:indeterminate
  ~ .custom-control-label::before {
  background-color: rgba(255, 255, 255, 0.5);
}

.custom-radio .custom-control-label::before {
  border-radius: 6px;
}

.custom-radio .custom-control-input:checked ~ .custom-control-label::after {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 11 8'%3e%3cpath fill='transparent' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' stroke='%23ee6451' d='M10 1L4 7L1 4'/%3e%3c/svg%3e");
}

.custom-radio
  .custom-control-input:disabled:checked
  ~ .custom-control-label::before {
  background-color: rgba(255, 255, 255, 0.5);
}

.custom-switch {
  padding-left: 4.3125rem;
}

.custom-switch .custom-control-label::before {
  left: -4.3125rem;
  width: 3.75rem;
  pointer-events: all;
  border-radius: 50rem;
}

.custom-switch .custom-control-label::after {
  top: calc(0.0625rem + 2px);
  left: calc(-4.3125rem + 2px);
  width: 1.625rem;
  height: 1.625rem;
  background-color: $border;
  border-radius: 50rem;
  transition:
    transform 0.15s ease-in-out,
    background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out,
    box-shadow 0.15s ease-in-out;
}

@media (prefers-reduced-motion: reduce) {
  .custom-switch .custom-control-label::after {
    transition: none;
  }
}

.custom-switch .custom-control-input:checked ~ .custom-control-label::after {
  background-color: #fdf7f1;
  transform: translateX(2.125rem);
}

.custom-switch
  .custom-control-input:disabled:checked
  ~ .custom-control-label::before {
  background-color: rgba(255, 255, 255, 0.5);
}

.custom-select {
  display: inline-block;
  width: 100%;
  height: 3.1rem;
  padding: 0.875rem 2.1875rem 0.875rem 1.1875rem;
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.225;
  color: #111235;
  vertical-align: middle;
  background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3e%3cpath fill='%23111235' d='M2 0L0 2h4zm0 5L0 3h4z'/%3e%3c/svg%3e")
    no-repeat right 1.1875rem center/8px 10px;
  background-color: #fdf7f1;
  border: 1px solid $border;
  border-radius: 8px;
  appearance: none;
}

.custom-file-input:focus ~ .custom-file-label {
  border-color: $border;
  box-shadow: none;
}

.custom-file-input:disabled ~ .custom-file-label {
  background-color: rgba(253, 247, 241, 0.8);
}

.custom-file-input:lang(en) ~ .custom-file-label::after {
  content: "Browse";
}

.custom-file-input ~ .custom-file-label[data-browse]::after {
  content: attr(data-browse);
}

.custom-file-label {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1;
  height: 3.1rem;
  padding: 0.875rem 1.1875rem;
  font-weight: 300;
  line-height: 1.225;
  color: #111235;
  background-color: #fdf7f1;
  border: 1px solid $border;
  border-radius: 0;
}

.custom-file-label::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 3;
  display: block;
  height: calc(1.225em + 1.75rem);
  padding: 0.875rem 1.1875rem;
  line-height: 1.225;
  color: #111235;
  content: "Browse";
  background-color: #fdf7f1;
  border-left: inherit;
  border-radius: 0 0 0 0;
}

.custom-control-label::before,
.custom-file-label,
.custom-select {
  transition:
    background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out,
    box-shadow 0.15s ease-in-out;
}

@media (prefers-reduced-motion: reduce) {
  .custom-control-label::before,
  .custom-file-label,
  .custom-select {
    transition: none;
  }
}

.to-top {
  position: fixed;
  bottom: 5vh;
  right: 5vw;
  transform: scale(0);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  font-size: 1.5625rem;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.15);
  opacity: 0;
  background: #ee6451;
  color: #fff;
  will-change: transform;
  z-index: 400;
  cursor: pointer;
  transition: 0.2s;
}
.mdi-chevron-up:before {
  content: "\f239";
}

.to-top::after {
  position: absolute;
  left: 0;
  top: 0;
  z-index: -4;
  width: 100%;
  height: 100%;
  content: "";
  background: #0d0e2e;
  opacity: 0;
  transform: scale(0);
  transition: all 0.2s ease-in-out;
}

.to-top:hover.to-top::after {
  opacity: 1;
  transform: scale(1);
}

.to-top.show {
  transform: scale(1);
  opacity: 1;
  transition:
    all 0.2s,
    transform 0.2s cubic-bezier(0.5, 0, 1, 2);
}

.test-content {
  font-weight: 1000;
}

.quote-text {
  font-weight: 300;
  font-style: italic;
  line-height: 1.35;
  letter-spacing: normal;
}

.comment-text {
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1.35;
  max-height: calc(1.35em * 5);
}

.form-validation {
  position: absolute;
  right: 1.125rem;
  top: 0;
  z-index: 2;
  margin-top: 2px;
  font-size: 9px;
  font-weight: 400;
  line-height: 12px;
  letter-spacing: 0;
  color: #dc3545;
  transition: 0.3s;
}

.text-dark {
  color: #111235;
}
